.input-wrapper {
    height: 40px;
    width: 60%;
    border-radius: 16px;
    border: 2px solid #a6cdc4;
    background-color: #282333;
    color: #a6cdc4;
    padding: 0 12px;
}

.acco-input{
    height: 60px;
    width: 40%;
}